@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  overflow: scroll;
  font-family: 'Open Sans', sans-serif;
}

.bodypictureback {
  background: url('https://images.unsplash.com/photo-1522252234503-e356532cafd5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1525&q=80') center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a {
  color: black
}

.navbar.scrolled {
  background: black;
  color: white;
  transition: background .5s;
} 
.navbar .navbar-brand {
  font-size: 2rem;
} 
.nav-item .nav-link {
  color: white !important;
}

.underline {
	height: 3px;
	background-color: transparent;
	width: 0%;
	transition: width 0.2s, background-color 0.5s;
	margin: 0 auto;
}

li.nav-item:hover .underline {
	background-color: white;
	width: 100%;
}

.intro {
  height: 800px;
}

.intro-content {
  margin-top: 300px;
  color: white;
  text-align: center;
}
.intro-content h2 {
  font-size: 2.5rem;
}
.intro-content-photo {
  margin-top: 215px;
  color: white;
  text-align: center;
}

.plntnrepublic {
  top: 23% !important;
}

.ccwebsite {
  top: 29% !important;
}
.ccwebsite a {
  color: white;
}

.melody {
  top: 40% !important;
  width: 80%;
}

/* styling for the about me page */
.graybackground {
  background-color: #dedede;
  overflow: hidden;
}
.panel {
  margin: 100px 0 50px 0;
}
.panel h2 {
  font-size: 2.3rem !important;
}
.panel-text {
  line-height: 2.3rem;
}
.image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.northeastern {
  width: 125%;
  margin-left: -25%;
  object-fit: cover;
  margin: 0 auto;
}
.gallery-image {
  display: block;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: transparent;
  text-align: center;
}
.overlay .text {
  font-size: 0.9em;
}
.gallery-image-container:hover .gallery-image {
  background-color:#000;
  filter: brightness(40%);
  transition: .5s ease;
}
.gallery-image-container:hover .overlay {
  opacity: 1;
  transition: .5s ease;
}

ul.tech-stack-options {
  display:inline;
  list-style: none;
}
ul.tech-stack-options li {
  display:inline-block;
  margin: 0 10px 0 10px;
}
ul.tech-stack-options li a{
  color: black;
  background: none;
  border: none
}
ul.tech-stack-options li a.btn-primary{
  color: white;
  background: black;
  border: none
}
ul.tech-stack-options li a.btn-primary:hover{
  color: white;
  background: #444444
}

.hidden {
  display:none;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.contact-form {
  line-height: 1.5em;
}
.contact-form ul {
  width: 150%;
  margin-left: -25%;
 }


.icons-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.icons-list li {
  display: inline;
  font-size: 2.3em;
  margin: 0 20px;
}
.icons-list a {
  color: black;
}

.icons-list li:hover .fa-facebook-square {
  color: #3b5998;
  transition: .5s;
}

.icons-list li:hover .fa-instagram-square {
  color: #833ab4;
  transition: .5s;
}

.icons-list li:hover .fa-linkedin {
  color: #0e76a8;
  transition: .5s;
}

.icons-list li:hover .fa-github-square {
  color: #c9510c;
  transition: .5s;
}

.icons-list li:hover .fa-twitter-square {
  color: #1da1f2;
  transition: .5s;
}


/* styling for the footer of the page */
.footer {
  margin: 0;
  width: 100%;
  color: white;
  background-color: black;
}



@media (max-width: 768px) {
  .intro-content h2 {
    font-size: 1.9rem;
  }
  .intro-content p {
    font-size: 1.5rem;
  }
  .panel {
    margin: 100px 0 0px 0;
  }
  .contact-form {
   font-size: 1.1rem;
   line-height: 1.2em;
  }
  .contact-form ul {
    width: 125%;
    margin-left: -12.5%;
   }
  .contact-form ul li{
    font-size: 1.9rem;
    margin: 0 10px;
   }
  .tech-stack h3 {
    float: none;
    text-align: center;
  }
  
  .tech-stack ul {
    float: none;
    margin: 0 auto;
  }
  .tech-stack li {
    font-size: 2.1em;
  }
  .intro-content {
    margin-top: 120px;
  }
  .intro-content-photo {
    margin-top: 165px;
  }

  .ccwebsite {
    top: 50% !important;
  }
  .plntnrepublic {
    top: 50% !important;
  }
  .northeastern {
    width: 100%;
  }
}
