@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body {
  margin: 0px;
  overflow: scroll;
  font-family: 'Open Sans', sans-serif;
}

.bodypictureback {
  background: url('../photos/NewYork.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  overflow: hidden;
}




/* styling for the top navigation bar */


#topRect {
  z-index: 99;
  position: fixed;
  width: 100%;
  transition: top 0.4s;
}
#topRect a {
  float: left;
  padding: 35px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  list-style: none;
  display: inline-block;
}
#hover {
  display: inline-block;
}
#topRect-menu {
  display: none;
}
#topRect-right #dropdown-content:hover{
  background-color: #2b2b2b;
  color: white;
}
.dropdown-content {
  margin: 10px;
}
#topRect h1 {
  margin: 0px;
  padding: 2px 8px 8px 8px;
  color: white;
  width: auto;
}
#topRect i {
  display: none;
}


#topRect-right {
  float: right;
  margin: 0px;
  position: relative;
  right: 0%;
}
.topRect-black {
  background: black;
}

/* styling for the text on top of the background picture  */
#intro {
  font-family: 'Open Sans', sans-serif;
  color: white;
  padding: 390px;
  position: relative;
  text-align: center;
}
#intro h2 {
  position: fixed;
  width: 25%;
  left: 19%;
  transform: translate(-19%, -0%);
  top: 34%;
  font-size: 50px;
}
#intro a {
  position: fixed;
  width: 35%;
  font-size: 16px;
  top: 53%;
  left: 15%;
  transform: translate(-15%, -0%);
}

/* styling for the about me page */
.graybackground {
  background-color: #dedede;
  overflow: hidden;
}
.aboutme-leftpic {
  font-family: 'Open Sans', sans-serif;
  color: black;
  position: relative;
  padding: 400px;
  text-align: center;
  overflow: hidden;
}
.aboutme-leftpic h2 {
  font-size: 40px;
  position: absolute;
  top: 28%;
  left: 56%;
  transform: translate(-0%, -0%);
}
.aboutme-leftpic p {
  font-size: 16px;
  position: absolute;
  top: 39%;
  left: 53%;
  transform: translate(-0%, -0%);
  line-height: 35px;
}
.aboutme-leftpic img {
  position: absolute;
  height: auto;
  width: 28%;
  top: 12%;
  left: 12%;
}


.aboutme-rightpic {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  padding: 400px;
  color: white;
  text-align: center;
}
.aboutme-rightpic h2 {
  position: absolute;
  top: 28%;
  left: 16%;
  transform: translate(-0%, -0%);
  font-size: 40px;
}
.aboutme-rightpic p {
  position: absolute;
  top: 39%;
  left: 8%;
  transform: translate(-0%, -0%);
  font-size: 16px;
  line-height: 35px;
}
.aboutme-rightpic a {
  color: #ccc;
  text-decoration: none;
}
.aboutme-rightpic img {
  position: absolute;
  height: auto;
  width: 28%;
  top: 12%;
  left: 61%;
}
.darkgraybackground {
  background-color: #696969;
  overflow: hidden;
}



#aboutme-personality {
  background-color: #aaa;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  height: 850px;
  color: black;
  text-align: center;
}
#aboutme-personality h1 {
  position: absolute;
  font-size: 50px;
  top: 1%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -0%);
}
#aboutme-personality img {
  position: absolute;
  top: 17%;
  left: 0%;
  transform: translate(-0%, -0%);
  width: 100%;
  height: auto;
  padding: 0px;
}
#aboutme-personality .images {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  height: 80%;
}


/* styling for the personal projects page */
#pp-header {
  font-family: 'Open Sans', sans-serif;
  color: white;
  position: relative;
  padding: 40px;
  text-align: center;
  font-size: 18px;
}
.pp-list {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  padding: 250px;
  text-align: center;
  border-top: 1px solid black;
}
.pp-list h2 {
  position: absolute;
  top: 8%;
  font-size: 50px;
  left: 56%;
}
.pp-list p {
  position: absolute;
  top: 32%;
  font-size: 20px;
  width: 54%;
  left: 39%;
}
.pp-list a {
  text-decoration: none;
}
.pp-list img {
  position: absolute;
  height: auto;
  width: 25%;
  border: 1px solid black;
  top: 10%;
  left: 4%;
}


/* styling for the contact me page */
#contactme {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  height: 650px;
  width: auto;
  color: black;
  text-align: center;
  overflow: hidden;
}
#contactme h3 {
  position: absolute;
  max-width: 50%;
  left: 50%;
  transform: translate(-50%, -0%);
  font-size: 26px;
  overflow: hidden;
}
#contactme ul {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -0%);
  width: 50%;
}
#contactme li {
  list-style: none;
  margin: 5px 10px;
  display: inline-block;
  font-size: 24px;
  padding: 12px 21px;
  border: 1px solid black;
  border-radius: 50%;
  transition: .5s;
}
#contactme a {
  color: black;
}
#contactme a #github:hover {
  color: #FF7F50;
  border: 1px solid #FF7F50;
}
#contactme a #linkedin:hover {
  color: #0072b1;
  border: 1px solid #0072b1;
}
#contactme a #facebook:hover {
  color: #4267B2;
  border: 1px solid #4267B2;
}
#contactme a #instagram:hover {
  color: #833AB4;
  border: 1px solid #FD1D1D;
}
#contactme a #twitter:hover {
  color: #00acee;
  border: 1px solid #00acee;
}


/* styling for the footer of the page */
footer {
  position: relative;
  padding: 1px;
  height: 35px;
  text-align: center;
  font-size: 18px;
  background-color: black;
}
footer p {
  top: 5px;
  left: 50%;
  color: white;
  font-size: 12px;
}





/* media query for changing the background picture and some other things */
@media only screen and (max-width: 870px) {
  .bodypictureback {
    background: url('../photos/vertnewYork.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    overflow: hidden;
  }

  #topRect h1 {
    font-size: 30px;
  }

  .pp-list h2 {
    left: 53%;
  }
  .pp-list p {
    font-size: 16px;
  }
  .pp-list img {
    top: 20%;
  }

  #contactme ul {
    top: 46%;
  }
  #contactme li {
    padding: 9px 17px;
  }
}



@media only screen and (max-width: 1200px) {
  #intro h2 {
    font-size: 40px;
  }
  #intro a {
    font-size: 14px;
    top: 48%;
  }
  .aboutme-leftpic {
    padding: 350px;
  }
  .aboutme-leftpic h2 {
    font-size: 30px;
  }
  .aboutme-leftpic p {
    font-size: 14px;
    left: 51%;
  }

  .aboutme-rightpic {
    padding: 350px;
  }
  .aboutme-rightpic h2 {
    font-size: 30px;
  }
  .aboutme-rightpic p {
    font-size: 14px;
    left: 7%;
  }

  #aboutme-personality {
    height: 700px;
  }
}


/* controls the menu button */
@media only screen and (max-width: 1000px) {
  #topRect i {
    display: block;
    color: white;
    padding: 5px;
    top: 100px;
    margin: 10px 25px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
  }
  #hover {
    display: block;
    position: absolute;
    width: 80%;
    top: 100%;
    height: 100%;
  }
  #topRect-right a {
    display: none;
    background-color: black;
    font-size: 14px;
    padding: 10px 30px;
    margin: 0px;
    width: 40%;
    float: left;
  }
  .dropdown-content {
    color: black;
  }
  #topRect-right {
    position: relative;
    display: block;
    padding: 14px 16px 0px 16px;
  }
  #topRect i:hover {
    background-color: black;
  }
  #topRect-right:hover a {
    display: block;
  }

  #contactme h3 {
    font-size: 20px;
    transform: translate(-50%, -0%);
  }
  #contactme ul {
    transform: translate(-50%, -0%);
  }
  #contactme li {
    font-size: 20px;
  }
  #intro a {
    top: 45%;
    width: 30%;
    font-size: 12px;
  }
  #intro h2 {
    font-size: 30px;
    width: auto;
    top: 34%;
  }
  .pp-list h2 {
    font-size: 40px;
  }

  .aboutme-leftpic {
    padding: 300px;
  }
  .aboutme-leftpic h2 {
    font-size: 26px;
    left: 57%;
  }
  .aboutme-leftpic p {
    font-size: 12px;
    left: 51%;
  }

  .aboutme-rightpic {
    padding: 300px;
  }
  .aboutme-rightpic h2 {
    font-size: 26px;
  }
  .aboutme-rightpic p {
    font-size: 12px;
    left: 6%;
  }
  .aboutme-rightpic img {
    left: 63%;
    width: 23%;
    top: 16%;
  }
  #aboutme-personality h1 {
    font-size: 40px;
  }
  #aboutme-personality {
    height: 600px;
  }
}


@media only screen and (max-width: 825px) {
  .aboutme-leftpic {
    padding: 270px 10px;
  }
  .aboutme-leftpic h2 {
    font-size: 24px;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -0%);
  }
  .aboutme-leftpic p {
    left: 50%;
    top: 16%;
    line-height: 30px;
    width: 90%;
    transform: translate(-50%, -0%);
  }
  .aboutme-leftpic img {
    width: 20%;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -0%);
  }

  .aboutme-rightpic {
    padding: 270px 10px;
  }
  .aboutme-rightpic h2 {
    font-size: 24px;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -0%);
  }
  .aboutme-rightpic p {
    left: 50%;
    top: 16%;
    width: 90%;
    line-height: 30px;
    transform: translate(-50%, -0%);
  }
  .aboutme-rightpic img {
    width: 20%;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -0%);
  }

  #aboutme-personality img {
    top: 20%;
  }
  #aboutme-personality {
    height: 500px;
  }

  #intro h2 {
    left: 17%;
    transform: translate(-17%, -0%);
  }
}


/* for a small screen size */
@media only screen and (max-width: 600px) {

  #intro h2 {
    left: 13%;
    transform: translate(-13%, -0%);
  }

  #topRect h1 {
    font-size: 22px;
  }
  #topRect i {
    padding: 10px;
  }
  #contactme {
    height: 620px;
  }
  #contactme h3 {
    font-size: 15px;
    transform: translate(-50%, -0%);

  }
  #contactme ul {
    top: 44%;
    transform: translate(-50%, -0%);
    left: 46%;
  }
  #contactme li {
    font-size: 14px;
    margin: 10px 20px;
    padding: 6px 12px;
  }

  #pp-header {
    font-size: 10px;
    overflow: hidden;
  }
  .pp-list {
    padding: 185px;
  }
  .pp-list h2 {
    left: 49%;
    font-size: 24px;
  }
  .pp-list p {
    font-size: 10px;
    top: 23%;
    left: 39%;
    max-width: 50%;
  }
  .pp-list img {
    width: 27%;
    top: 29%;
  }


  .aboutme-leftpic {
    padding: 220px 10px;
  }
  .aboutme-leftpic h2 {
    font-size: 20px;
    top: 5%;
    transform: translate(-50%, -0%);
  }
  .aboutme-leftpic p {
    font-size: 10px;
    transform: translate(-50%, -0%);
    line-height: 25px;
  }
  .aboutme-leftpic img {
    width: 18%;
    transform: translate(-50%, -0%);
  }

  .aboutme-rightpic {
    padding: 220px 10px;
  }
  .aboutme-rightpic h2 {
    font-size: 20px;
    transform: translate(-50%, -0%);
    top: 5%;
  }
  .aboutme-rightpic p {
    font-size: 10px;
    transform: translate(-50%, -0%);
    line-height: 25px;
  }
  .aboutme-rightpic img {
    width: 18%;
    transform: translate(-50%, -0%);
  }

  #aboutme-personality h1 {
    font-size: 30px;
  }
  #aboutme-personality img {
    top: 22%;
    transform: translate(-0%, -0%);
  }
  #aboutme-personality {
    height: 400px;
  }


}

/* for a phone screen size */
@media only screen and (max-width: 450px) {
  .aboutme-leftpic {
    padding: 200px 10px;
  }
  .aboutme-leftpic h2 {
    font-size: 20px;
    top: 5%;
    transform: translate(-50%, -0%);
  }
  .aboutme-leftpic p {
    font-size: 9px;
    line-height: 25px;
    top: 18%;
    transform: translate(-50%, -0%);
  }
  .aboutme-leftpic img {
    width: 18%;
    top: 60%;
    transform: translate(-50%, -0%);
  }

  .aboutme-rightpic {
    padding: 200px 10px;
  }
  .aboutme-rightpic h2 {
    font-size: 20px;
    top: 3%;
    transform: translate(-50%, -0%);
  }
  .aboutme-rightpic p {
    font-size: 8px;
    line-height: 25px;

    transform: translate(-50%, -0%);
  }
  .aboutme-rightpic img {
    width: 18%;
    top: 67%;
    transform: translate(-50%, -0%);
  }
  #aboutme-personality h1 {
    font-size: 20px;
  }


  #aboutme-personality {
    height: 250px;
  }

  #contactme ul {
    top: 42%;
  }
}
